{% extends "base.html" %}

{% block content %}

    <form class="form-inline my-2 my-lg-0" action="{% url 'my-classrooms-list' %}">
      <input class="form-control mr-sm-2" type="text" name='q' placeholder="Search" value="{{request.GET.q}}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

<div class="row">
	{% for classroom in user.classroom_set.all %}
<div class="col-sm-4">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Name: {{classroom.title}}</h5>
			<p class="card-text">Year: {{classroom.semester}}</p>
		</div>
	</div>
</div>
	{% endfor %}
</div>

{% endblock content %}



<!-- <QuerySet [<Classroom: How Things Work>]> -->