{% extends "base.html" %}

{% block title %}{{classroom.title}} {% endblock title %}

{% block content %}

      <div>
        {% if request.user.is_authenticated %}
        <div class="btn-group col-sm" role="group">
          <a href="{% url 'classroom-update' classroom.id %}" class="btn btn-md col-sm" style="background-color: #283747; color: white;">Update Classroom</a>
          <a href="{% url 'student-create' classroom.id %}" class="btn btn-md col-sm" style="background-color: #5D6D7E; color: white;">Add Student</a>
          <a href="{% url 'take-attendance' classroom.id %}" class="btn btn-md col-sm" style="background-color: #B0C4DE; color: white;">Take Attendance</a>   
        </div>
        {% endif %}
      </div>
  <br>
    <br>
  <div>
    <table class="table table-borderless">
    <thead class="thead">
      <tr>
        <th scope="col">#</th>
        <th scope="col" style="text-align:center">Name</th>
        <th scope="col" style="text-align:center">Gender</th>
        <th scope="col" style="text-align:center">Date of Birth</th>
        <th scope="col" style="text-align:center">Email</th>
        <th scope="col" style="text-align:center">Attendance</th>      
        {% if request.user == classroom.teacher %}
        <th scope="col" style="text-align:center">Update</th>
        <th scope="col" style="text-align:center">Delete</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td scope="col" style="text-align:center">{{student.name}}</td>
          <td scope="col" style="text-align:center">{{student.gender}}</td> 
          <td scope="col" style="text-align:center">{{student.dob}}</td>
          <td scope="col" style="text-align:center">{{student.email}}</td>
          <td scope="col" style="text-align:center">{{students.attendance}}</td>          
          {% if request.user.is_authenticated %}
          <td>
              <a href="{% url 'student-update' classroom.id student.id %}" class="btn btn-primary btn-light btn-sm btn-block" style="background-color: #ffffff; color: black;">Update</a>
          </td>
          <td>
              <a href="{% url 'student-delete' classroom.id student.id %}" class="btn btn-primary btn-light btn-sm btn-block" style="background-color: #ffffff; color: black;">Delete</a>
          </td>
          {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

</div>

{% endblock content %}