{% extends "base.html" %}

{% block content %}

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chalkboard"></i>
            Classrooms</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Classroom</th>
                    <th>Semester</th>
                    <th># of Students</th>
                    <th>Description</th>
                    <th>Update</th>
                    <th>Delete</th>                       
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Classroom</th>
                    <th>Semester</th>
                    <th># of Students</th>
                    <th>Description</th>
                    <th>Update</th>
                    <th>Delete</th>                    
                  </tr>
                </tfoot>
                <tbody>
                {% for classroom in classrooms %}
                  <tr>
                    <td>{{ classroom.id }}</td>
                    <td><a href="{% url 'classroom-detail' classroom.id %}">{{ classroom.title }}</a></td>
                    <td>{{ classroom.semester.season }}, {{ classroom.semester.year }}</td>
                    <td>{{ classroom.students.count }}</td>
                    <td>{{ classroom.description|truncatechars:20 }}</td>
                    <td><a href="{% url 'classroom-update' classroom.id %}"><i class="fas fa-edit"></i></a></td>
                    <td><a href="{% url 'classroom-delete' classroom.id %}"><i class="fas fa-trash-alt"></i></a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

{% endblock content %}
