<!doctype html>
<html lang="en">

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
 
 {% if user.is_authenticated %}
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Welcome, {{user.username}}</a>
  {% else %}
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Back to School</a>
  {% endif %}
  
<!--   <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
 -->  
  <ul class="nav justify-content-end px-3">
  	{% if user.is_authenticated %}
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="{% url 'signout' %}" style="color: white;">Sign out</a>
    </li>
    {% else %}
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="{% url 'signup' %}" style="color: white;">Sign up</a>
  	</li>
  	<li>
  	  <a class="nav-link" href="{% url 'signin' %}" style="color: white;">Sign in</a>
  	</li>
    {% endif %}
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'semester-list' %}">
              <span data-feather="file"></span>
              Semesters
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my-classrooms-list' %}">
              <span data-feather="shopping-cart"></span>
              Classes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my-students-list' %}">
              <span data-feather="users"></span>
              Students
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Stats</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Attendance
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Performance
            </a>
          </li>
        </ul>
      </div>
    </nav>