{% extends "base.html" %}

{% block content %}

    <form class="form-inline my-2 my-lg-0" action="{% url 'semester-list' %}">
      <input class="form-control mr-sm-2" type="text" name='q' placeholder="Search" value="{{request.GET.q}}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

	{% for semester in semesters %}

		<ul class="list-group">
  		<li class="list-group-item d-flex justify-content-between align-items-center">
    		{{semester.season}} {{semester.year}}
    		<span class="badge">
    			<a href="{% url 'semester-detail' semester.id %}" class="btn" style="background-color: #000034; color: white;">View</a>
    		</span>
  		</li>
		</ul>
			{% endfor %}



{% endblock content %}


<!-- classroom, id, season, year -->



<!-- <p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div> -->


<!-- <div class="row">
	{% for semester in semesters %}
<div class="col-sm-4">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">{{semester.season}} {{semester.year}}</h5>
			<p class="card-text">{{semester.year}}</p> number of classes/students
 --><!-- 			<a href="{{semester.get_absolute_url}}" class="btn" style="background-color: #e3f2fd; color: black;">View</a>
            <a href="{% url 'semester-detail' semester.id %}" class="btn" style="background-color: #000034; color: white;">View</a>
		</div>
	</div>
</div>
	{% endfor %}
</div> -->




