{% extends "base.html" %}

{% block content %}
<div class="row">
	{% for semester in semesters %}
<div class="col-sm-4">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">{{semester.season}} {{semester.year}}</h5>
<!-- 			<p class="card-text">{{semester.year}}</p> number of classes/students
 --><!-- 			<a href="{{semester.get_absolute_url}}" class="btn" style="background-color: #e3f2fd; color: black;">View</a> -->
            <a href="{% url 'semester-detail' semester.id %}" class="btn" style="background-color: #000034; color: white;">View</a>
		</div>
	</div>
</div>
	{% endfor %}
</div>

{% endblock content %}
