{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'signin' %}">Classrooms</a>
    </li>
    <li class="breadcrumb-item active">{{classroom.title}}</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
	<form action="{% url 'student-update' classroom.id student.id %}" method="POST">
		{% csrf_token %}
		{{form|crispy}}
		<br>
		<input type="submit" value="Update" class="btn-sm btn-dark">
	</form>
{% endblock content %}