<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_tags %}

{# <form action="/date/" method="post">
    <label for="date">Your name: </label>
    <input id="date" type="text" name="date" value="{{ current_date }}">
    <input type="submit" value="OK">
</form> #}

<form action="{% url 'update-attendance' classroom_id '2019-11-25' %}" method="POST" >
      {% csrf_token %}
    <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
        		{{ formset.management_form }}
		  <thead class="thead-dark">
    <tr>
      <th scope="col">Student</th>
      <th scope="col"> </th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
  	{% for form in formset %}
    <input type="hidden" name="form-{{forloop.counter0}}-id" value="{{ form.instance.id }}">
  		<tr>
			<td>{{ form.instance.student }}</td>
			<td>{{ form.status|as_crispy_field }}</td>
			<td>{{ form.notes|as_crispy_field }}</td>
		</tr>
	{% endfor %}
  </tbody>
</table>
</div>
        <input type="submit" value="Save" class="btn-sm btn-dark"> 
</form>

</html>